<div style="background-color: #009999; overflow: auto;">
  <div style="width: 50%; background-color: white; margin: 20px auto; padding: 20px 50px;">
    <div style="text-align: center;">
      <img style="height: 150px;" src='https://smileup.eddiebatkinson.com/static/media/logo-donate.77a366ff.jpg' />
    </div>
    <h1>New Volunteer Information:</h1>
    <ul style="list-style: none;">
      <li style="font-size: 22px; line-height: 40px;"><span style="font-weight: bold;">Name:</span> <%= name %></li>
      <li style="font-size: 22px; line-height: 40px;"><span style="font-weight: bold;">Birthday:</span> <%= birthday %></li>
      <li style="font-size: 22px; line-height: 40px;"><span style="font-weight: bold;">Email:</span> <%= email %></li>
      <li style="font-size: 22px; line-height: 40px;"><span style="font-weight: bold;">Phone:</span> <%= phone %></li>
      <li style="font-size: 22px; line-height: 40px;"><span style="font-weight: bold;">Message:</span> <%= message %></li>
    </ul>
  </div>
</div>